# Dùng chung cho cả dev và prod
VITE_TOKEN_CYBERSOFT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZW5Mb3AiOiJCb290Y2FtcCA5MiIsIkhldEhhblN0cmluZyI6IjE5LzA5LzIwMjYiLCJIZXRIYW5UaW1lIjoiMTc4OTc3NjAwMDAwMCIsIm5iZiI6MTc2MTMyNTIwMCwiZXhwIjoxNzg5OTIzNjAwfQ.ArBHlkISJbOimRkNdscBYDKzIqhCxv2DkUsGJh3zRLY
VITE_MA_NHOM=GP00

# .env.development  →  dùng Vite proxy (tránh CORS khi dev local)
# VITE_API_BASE_URL=/api

# .env.production  →  gọi thẳng API
# VITE_API_BASE_URL=https://movienew.cybersoft.edu.vn/api
